<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<meta charset="utf-8">
<body>

  <h2>Consultores</h2>

  <table id="vets" class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Especialidades</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="vet : ${vets.vetList}">
        <td th:text="${vet.firstName + ' ' + vet.lastName}"></td>
        <td><span th:each="specialty : ${vet.specialties}"
          th:text="${specialty.name + ' '}" /> <span
          th:if="${vet.nrOfSpecialties == 0}">none</span></td>
      </tr>
    </tbody>
  </table>

  <table class="table-buttons">
    <tr>
      <td><a th:href="@{/vets.xml}">Ver como XML</a></td>
      <td><a th:href="@{/vets.json}">Ver como JSON</a></td>
    </tr>
  </table>

</body>
</html>
